root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]
# Organización de usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Estilo de lenguaje
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
csharp_prefer_braces = true:suggestion
csharp_style_expression_bodied_methods = false:silent

# Nombres
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = warning
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interface_symbols
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = prefix_with_i
dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_style.prefix_with_i.required_prefix = I
dotnet_naming_style.prefix_with_i.capitalization = pascal_case
